<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>220802359889-pkbefjkbdejfc8a9robsvhol0kispmmi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.220802359889-pkbefjkbdejfc8a9robsvhol0kispmmi</string>
	<key>API_KEY</key>
	<string>AIzaSyCpqh_EQ7wM1mIzs7Q-yra1SrHjbnQ02Eg</string>
	<key>GCM_SENDER_ID</key>
	<string>220802359889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AmrHossam.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-18a6a</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-18a6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220802359889:ios:d455475a9282b98efb4e70</string>
</dict>
</plist>